& {
  --primary-500: #FFBA0A;
  --primary-300: #E0A100;
  --text-500: #FCFCFC;
  --text-200: #CDD1DE;
  --dark-500: #252627;
  --dark-200: #18191a;
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial;
  --bar-height: 36pt;

}

:root {
  font-family: var(--font-family), sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: only dark;
  color: var(--text-500);
  background-color: var(--dark-500);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: var(--primary-500);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-300);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button.primary {
  background-color: var(--primary-500);
  color: var(--dark-200);
  font-weight: 600;
}
button:hover.primary {
  border-color: var(--dark-200);
}
button:focus.primary,button:focus-visible.primary {
  outline: 2px solid var(--dark-200);
}
button, input[type=submit] {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-200);
  cursor: pointer;
  transition: border-color 250ms ease, transform 250ms ease;
  margin: 0.2em;
  display: inline-flex;
  align-items: center;
  gap: 1em;
}
button:hover, input[type=submit]:hover {
  border-color: var(--primary-300);
}
button:active, input[type=submit]:active {
  transform: scale(.98);
}
button:focus, input[type=submit]:focus,
button:focus-visible, input[type=submit]:focus-visible {
  outline: 2px solid var(--primary-300);
}

.page-container {
  padding: 0 2rem;
  text-align: center;
  max-height: calc(100vh - var(--bar-height) - 1em);
  overflow-y: auto;
  margin: calc(var(--bar-height) + 1em) auto 0;
}

input {
  &[type=text], &[type=password], &[type=search], &[type=number]  {
    background: unset;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 1em;
    padding: 0.6em;
    border-bottom: solid 3px var(--text-200);
    &:focus {
      border-color: var(--primary-300);
    }
    &::placeholder {
      color: var(--text-200);
      font-weight: 200;
      font-size: 1em;
    }
  }
  transition: all 250ms ease;
}
select {
    background: var(--dark-500);
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 1em;
    padding: 0.6em;
    border-bottom: solid 3px var(--text-200);
  appearance: none;

    &:focus {
      border-color: var(--primary-300);
    }
    &::placeholder {
      color: var(--text-200);
      font-weight: 200;
      font-size: 1em;
    }
  transition: all 250ms ease;

}
#app {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 250ms ease, top 250ms ease;
  position: absolute;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  top: -100%;
}

.check-enter-active,
.check-leave-active {
  transition: clip-path 250ms ease;
}

.check-enter-from {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.check-leave-to {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.check-enter-to, .check-leave-from {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@media screen and (width < 1024px) {
  .narrow-only {
    display: inherit;
  }
  .wide-only {
    display: none !important;
  }
}
@media screen and (width >= 1024px) {
  .narrow-only {
    display: none !important;
  }
  .wide-only {
    display: inherit;
  }
}